.card-container-profile {
  position:relative;
  width:25rem;
  height:13rem;
  margin:2rem auto;
  box-shadow:0 0 10px rgba(1,1,1,.115);
  border-radius:16px;
}

.card-container-profile p {
  text-align:center;
}
.card-container-profile img {
  position:absolute;
  width:130px;
  border-radius:50%;
  transform:translate(-50%);
  margin-top:-55px;
  box-shadow:0 0 13px rgba(1,1,1,.15);
}
.card-container-profile :nth-child(2){
  padding-top:110px;
}
.card-container-profile :nth-child(3){
  font-style:italic;
  font-weight:bold;
}
